html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  padding-left: 0.625em;
}

ul li {
  list-style: none;
}

/* Ported from instantsearch.css/themes/algolia.css */
[class^='ais-RefinementList-count'] {
  padding: 0.1rem 0.4rem;
  font-size: 1.2rem;
  color: #3a4570;
  background-color: #dfe2ee;
  border-radius: 8px;
}

[class^='ais-Pagination-list'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

[class^='ais-Pagination'] {
  color: #3a4570;
}

/* Custom styling */

[class^='ais-RefinementList-showMore'] {
  appearance: none;
  border: none;
  background: none;
  color: #1976d2;
  font-family: inherit;
  font-size: 1.4rem;
}
