.container {
  font-size: 1.6rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.sidebar {
  width: 100%;
  /* height: 100%; */
}

.resultsContainer {
  width: 100%;
}

.paginationContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.paginationContainer ul li {
  margin: 0 0.5rem;
}

.paginationContainer ul li a {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 0.1rem solid #9a9fc1;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  transition: background-color 300ms, color 300ms;
}

.paginationContainer ul li a:hover,
.paginationContainer a[class~='ais-Pagination-link--selected'] {
  background-color: #515fc3;
  color: #ffffff;
}

@media (min-width: 768px) {
  .container {
    padding: 0 2rem;
  }

  .content {
    display: flex;
  }

  .sidebar {
    width: 30rem;
    height: 100%;
  }
}
